<%- include('header.ejs') %>
    <% if (saisie) { %>
        <div>
            <div class="form-group">

                <form action="/createqr/scan" method="POST" class="form">

                    <div>
                        <label for="identite">Identité</label>
                        <br>
                        <select name="identite" id="identite">
                            <option value="" disabled selected>Selectionner un intervenant</option>
                            <option value="Yannick Midey">Yannick Midey</option>
                            <option value="Lucas Pisano">Lucas Pisano</option>
                            <option value="Alexandre Alleaume">Alexandre Alleaume</option>
                            <option value="Bryan Guillot">Bryan Guillot</option>
                        </select>
                        <label style="margin-left: 138px;" for="salle">Salle</label>
                        <select name="salle" id="salle">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div>

                    </div>

                    <div>
                        <label for="code">Code de l'intervenant :</label>
                        <input type="password" class="form-control" name="code" id="code"
                            placeholder="Entrez le code de l'intervenant" required>
                    </div>


                    <div>
                        <label for="horaireEntree">Horaire d'entrée</label>
                        <input type="datetime-local" class="form-control" name="horaireEntree" id="horaireEntree"
                            placeholder="Entrez l'heure de sortie" required>
                    </div>

                    <div>
                        <br />
                        <button type="submit" class="buttonnephy">Generer le QRCode</button>
                    </div>
                </form>

                <% } else { %>
                    <div class="qr-code">
                        <h3>Voici le QR Code généré :</h3>
                        <img id="qrcode" src=<%=qr_code %> alt="QR Code">
                    </div>
                    <% } %>