<%- include('header.ejs') %>
    <% if (saisie) { %>
        <div class="container-fluid align-items-center">
            <div class="form-group">

                <form action="/createqr/scan" method="POST" class="form" style="margin-left:30%; margin-right:30%">

                    <div class="form-group">
                        <label for="identite">Identité</label>
                        <input type="text" class="form-control" name="identite" id="identite" placeholder="Entrez votre prénom suivi de votre nom" required>
                    </div>

                    <div class="form-group">
                        <label for="code">Code de sécurité :</label>
                        <input type="password" class="form-control" name="code" id="code" placeholder="Entrez votre code à l'abri des regards..." required>
                    </div>

                    <div class="form-group">
                        <label for="salle">Salle</label>
                        <input type="number" class="form-control" name="salle" id="salle" placeholder="Entrez la salle d'intervention" required>
                    </div>
                    <div class="form-group">
                        <label for="horaireEntree">Horaire d'entrée</label>
                        <input type="datetime-local" class="form-control" name="horaireEntree" id="horaireEntree" placeholder="Entrez l'heure de sortie" required>
                    </div>

                    <div class="form-group">
                        <label for="horaireSortie">Horaire de sortie</label>
                        <input type="datetime-local" class="form-control" name="horaireSortie" id="horaireSortie" placeholder="Entrez l'heure de sortie" required>
                    </div>

                    <div class="form-group">
                        <br/>
                        <button type="submit" class="btn btn-outline-primary">Générer le QRCode</button>
                    </div>
                </form>

                <% } else { %>
                    <h3>Voici le QR Code généré :</h3>
                    <img src=<%=qr_code %> alt="QR Code">
                    <% } %>