<%- include('header.ejs') %>

    <div class="container-fluid d-flex align-items-center flex-column">
        <table id="tableau_intervenants">
            <tr>
                <td>code</td>
                <td>salle</td>
                <td>heure début prévue</td>
                <td>heure début réelle</td>
                <td>heure de fin prévue</td>
                <td>heure de fin réelle</td>
            </tr>
        </table>
    </div>

    </html>